.SoftwareList {
  overflow: hidden;
  height: 100%;
}
.Header {
  display: flex;
  align-items: center;
}
.Header img {
  width: 50px;
  margin-right: 20px;
}
.Software {
  transform: translateY(100vh);
}
@keyframes slide {
  to {
    transform: translateY(0);
  }
}
